include LICENSE
include *.db
include *.js
include scrapling/engines/toolbelt/bypasses/*.js
include scrapling/*.db
include scrapling/*.db*
include scrapling/py.typed

recursive-exclude * __pycache__
recursive-exclude * *.py[co]